body {
    background-image: url(assets/pagina3.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.principal {
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(141, 139, 139, 0.7);
}


h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

p1{
    font-family: 'Times New Roman', Times, serif;
}

p2{
    font-family: 'Times New Roman', Times, serif;
}

p3{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

.navegacao-botoes {
    display: flex;
    justify-content: center;
    gap: 2px;
    border-radius: 10px;
    justify-content: space-between;
    justify-content: flex-end;
    background-color: rgb(173, 166, 166, 0.5);
}


button{
    display:block;
    margin: auto;
    background-color: rgb(126, 219, 131);
    border-radius: 10px;
}

a{
    display: block;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}