h1 {
    text-align: center;
}

p1{
    font-size: large;
}

p2{
    font-size: large;
}


p3{
    font-size: large;
}

p4{
    font-size: large;
}

p5{
    font-size: large;
}

h2{
    font-size: large;
}

h3{
    font-size: large;
}