body{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

P1{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

P2{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

P3{
    font-family: 'Times New Roman', Times, serif;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

P5{
    font-family: 'Times New Roman', Times, serif;
}

button{
    display: block;
    margin: 20px auto;
    background-color: rgb(159, 230, 159);
    border-radius: 10px;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 7px;
}